{{extend 'layout.html'}}
{{for (cluster_id, (cluster_score, master_id, cluster_category, cluster_posts)) in entries:}}
<div>
<li>Cluster ID: {{=cluster_id}}, Cluster size: {{=len(cluster_posts)}}</li>
<li>Cluster score: {{=B(cluster_score)}}</li>
<li>Cluster category: {{=B(db.categories[cluster_category].category)}}</li>
{{=A(IMG(_src=db.posts[master_id].imageurl, _width="120px", _height="120px"), _href=db.posts[master_id].imageurl)}} {{=A(db.posts[master_id].title, _href=db.posts[master_id].link)}}
{{=LI(P(I(db.posts[master_id].description)))}}
<h5>Cluster posts:</h5>
{{for post_id in cluster_posts:}}
{{=LI(A(db.posts[post_id].title, _href=db.posts[post_id].link))}}
{{pass}}
{{=BR()}}
</div>
{{=BR()}}
{{pass}}