{{extend 'layout1.html'}}
{{for (id, category) in categoryentries:}}
    <div class="category">
	<h3>{{=A(category, _href=URL(f='index',vars=dict(cat_id=id)))}}</h3>
    {{arr = clusterEntries.get(id)}}

    {{if arr is not None:}}
        {{for i, cl in enumerate(arr):}}
            {{posts = postEntries.get(cl)}}
            {{if posts is not None:}}
                {{first = True}}
                {{if i%3 == 0:}}
                    <div class="first_in_row">
                {{else:}}
                    <div>
                {{pass}}
                {{for (postId, title, image, description, link, published, website) in posts[:10]:}}
                    {{if first:}}
                        <article>
                        <a href="{{=link}}" target="_blank"><img src="{{=image}}" /></a>
                        <a href="{{=link}}" target="_blank">
                            <h4>
                                <span class="title">{{=title}}</span></br>
                                <span class="time"> {{=website}} - {{=published}}</span>
                                <span class="count">{{=len(posts)}} поврзани вести</span>
                            </h4>
                        </a>
                        <p>{{=description}}</p>
                        </article>
                        {{if len(posts) > 1:}}
                            <span class="more"> Повеќе поврзани статии» </span>
                        {{pass}}
                        <div class="related">
                    {{else:}}
                        <a href="{{=link}}" target="_blank"><h5>{{=title}} <span class="time"> {{=website}} - {{=published}}</span></h5></a>
                    {{pass}}
                    {{first=False}}
                {{pass}}
                {{if len(posts) > 1:}}
                       <a href="/MiniTimeMK/default/cluster?id={{=cl}}">Прикажи ги сите вести од кластерот</a>
                    </div>
                {{pass}}
                </div>
            {{pass}}
        {{pass}}
    {{pass}}
</div>
{{pass}}
{{=BR()}}